@import './reser.css';



/*Style ordinateur / grands écrans)*/

.mon-footer {
    background-color: #142643;
    color: var(--white-color);
    padding: 1.5rem .5rem; 
}
footer .logo{
    font-size: 1.7rem;
    color: var(--white-color);
}
footer .logo a{
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--white-color);

}
footer .logo:hover a{
    transform: translateX(-10px);
}
/* Alignement côte à côte sur grand écran */
.footer-haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

/* Conteneur des icônes */
.reseaux {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

/* Style des liens-icônes */
.reseaux a {
    color: white;
    font-size: 1.5rem; 
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease; /* Effet fluide au survol */
}

/* Effet au survol des icônes */
.reseaux a:hover {
    transform: scale(1.8); /* Agrantit légèrement l'icône au survol */
}

.footer-milieu {
    padding-top: 2.5rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.footer-milieu a {
    color: white;
    text-decoration: none;
}

.footer-milieu a:hover {
    text-decoration: underline; /* Souligne le lien de confidentialité au survol */
}

.hr {
    width: 100%;
    height: .1rem;
    background-color: white;
    margin-bottom: .5rem;
}



.footer-bas p {
    font-size: 1rem; /* Un bon gros 24px, plus simple à écrire que 1.5625rem */
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: var(--white-color);
}


/* Style mobile et tablette */

@media (max-width: 48rem) {
    
    .footer-haut {
        flex-direction: column;
        gap: 1.2rem; 
        text-align: center;
    }

    .reseaux {
        justify-content: center;
        gap: 1.5rem; 
    }

   
    .footer-bas p {
        font-size: 1rem; 
    }
}
